.dev-btn {
  border-radius: 15%;
  border: 1px solid rgba(27, 31, 36, 0.15);
  height: 32px;
  background-color: url("chrome-extension://fddgefpldhcbmegmfmklkiapmhoapocg/img/vscode.svg");
  margin-left: 10px;
  background-color: #f6f8fa;
}

.dev-img {
    /* width: 20px; */
    height: 100%;
}